* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: scroll;
}

body {
    background-image: url(img/pizzas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

.tituloPrincipal {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 20px;
}

.tituloSecundario{
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 20px;
    padding-bottom: 20px;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

.datos{
 
    color: white;
    width: 50%;
    height: 30%;
    font-size: 16px;
    font-family:Verdana, Geneva,Tahoma,sans-serif;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    
    border: 1px solid white;
    background-color: transparent;
    
}

.size{
    width: 50%;
    height: 20%;

    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;

    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.masa{
        width: 50%;
        height: 20%;
        
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
    
    
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;

        display: flex;
        justify-content: left;
        gap: 50px;
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
    }

select#masa{
    color: white;
    background-color: darkred;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 400;
}

.extras{
        width: 50%;
        height: 20%;
        
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
    
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 15px;
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
    }

    .comentarios{
        width: 50%;
        height: 20%;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    #w3review{
        background-color: transparent;
        border: 1px solid white;
        
    }

    .obligatorio{
        font-size: 12px;
    }

    .boton{
        width: 75px;
        height: 25px;
        align-self: center;
        color: white;
        background-color: darkred;
    }

    .comentarios .boton{
        align-items: center;
    }

/*_________________RESPOSNIVE________________________*/ 

@media screen and (max-width: 700px){

   .size{
    flex-direction: column;
    flex-wrap: nowrap;
   }
    
    .masa{
        gap: 10px;

    }
}

@media screen and (max-width: 570px){
    .size{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .masa{
        gap: 2px;
    }


    .extras{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 320px) {
    .size {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .masa {
        gap: 2px;
        width: 25%;
       
    }


    .extras {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 25%;
        
    }
}